{#
Comment
#}

{% for comment in post.getGroupComments|sort %}
<div class="comment">
		<div class="profileImageDiv"
			{% if comment.getAuthor.getProfileSrc is not null %}
				style="background-image: url('{{ asset(comment.getAuthor.getProfileSrc) }}')"
			{% endif %}></div>
		<div id="text"  class="{{ theme }} post">
			<div class="label upper">
				<div id="username"> {{ comment.getAuthor.getUsername }} </div>
				<div id="dateTime"> {{ comment.getCreated|date('d. M Y. H:i') }} </div>
			</div>
			{{ comment.getText }}
		</div>
</div>
{% endfor %}