<div class="homepageTitle">Nova grupa</div>	
	
<div id="newGroupButton" onclick="showNewGroupForm()"><span>+</span></div>

<form id="newGroupForm" style = "display:none;" method="POST" action="{{ path('add_group') }}" enctype="multipart/form-data">
	<span>Naziv grupe</span>
	<input type="text" name="groupName">
	<br>

	<span>Pozadinska slika</span>
	<input type="file" name="background" id="backgroundImg" onchange="backgroundUpload()">
	<label for="backgroundImg"><span id="backgroundImgLabel"><i class="fa fa-upload"></i>&nbsp;&nbsp;Odaberite datoteku</span></label>
	<br>

	<span>Profilna slika</span>
	<input type="file" name="profile" id="profileImg" onchange="profileUpload()">
	<label for="profileImg"><span id="profileImgLabel"><i class="fa fa-upload"></i>&nbsp;&nbsp;Odaberite datoteku</span></label>
	<br>

	<span>Boja teme</span>
	<div class="custom-select">
			<select name = "theme">
			  <option value="color_GreenSea" class="color_GreenSea">GreenSea</option>
			  <option value="color_Nephritis" class="color_Nephritis">Nephritis</option>
			  <option value="color_QuizyBlue" class="color_QuizyBlue" selected>SeaBlue</option>
			  <option value="color_Wisteria" class="color_Wisteria">Wisteria</option>
			  <option value="color_MidnightBlue" class="color_MidnightBlue">MidnightBlue</option>
			  <option value="color_SunFlower" class="color_SunFlower">SunFlower</option>
			  <option value="color_Pumpkin" class="color_Pumpkin">Pumpkin</option>
			  <option value="color_Pomegranate" class="color_Pomegranate">Pomegranate</option>
			  <option value="color_Asbestos" class="color_Asbestos">Asbestos</option>
			</select>
	</div>
	<br>
</form>

<br><br>
{% if groups|length > 0 %}
<div class="homepageTitle">Moje grupe</div>

    {% for group in groups %}
    <a href="{{ path('group_dashboard', {'group_id': group.getUserGroup.getId}) }}">
    <div class="groupHomepageDiv" 
        {% if group.getUserGroup.getBackground is not null %}
			style="background-image: url('{{ asset(group.getUserGroup.getBackgroundSrc) }}');"
	    {% endif %}
    >
        <div id="groupName">{{ group.getUserGroup.getName }}</div>
        <div id="groupStats">
			{#<i class="fa fa-user"></i>
			x članova#}
			<i class="fa fa-calendar"></i>
			{{ group.getUserGroup.getCreated|date('d. M Y.') }}
		</div>
	</div>
    </a>
    {% endfor %}

{% endif %}

{% if otherGroups|length > 0 %}
<br><br>
<div class="homepageTitle">Druge grupe</div>
    
    {% for group in otherGroups %}
    <a href="{{ path('join_group', {'group_id': group.getId}) }}">
    <div class="groupHomepageDiv" 
        {% if group.getBackground is not null %}
			style="background-image: url('{{ asset(group.getBackgroundSrc) }}');"
	    {% endif %}
    >
        <div id="groupName">{{ group.getName }}</div>
        <div id="groupStats">
			{#<i class="fa fa-user"></i>
			x članova#}
			<i class="fa fa-calendar"></i>
			{{ group.getCreated|date('d. M Y.') }}
		</div>
	</div>
    </a>
    {% endfor %}


{% endif %}