<header class="mainHeader {{ theme }}">
	<div class="bgDiv blue">
		<a href="{{ path('user_dashboard') }}">
			<img src="{{ asset('build/images/collabsy.png') }}"> 
		</a>
	</div>

	<div id="list">
		{#
		to-do: display open group or inbox
		<div id="actionName">
			<div id="user">
				<div id="image">
					<div class="center">
						<div class="profileImageDiv small"></div>
					</div>
				</div>	
				<div id="username">
					<div class="center">
						Ime korisnika
					</div>
				</div>
			</div>
		</div>#}

		<div class="imageAndName">
			<div id="user">
				<div id="image">
					<div class="center">
						<form id="profileChangeForm" method="POST" action="{{ path('user_profile') }}" enctype="multipart/form-data">
							<input type="file" name="profile" id="profileInput" style="display:none;" onchange="profileChange()">
							<label for="profileInput">
								<div class="profileImageDiv small"
								style = "cursor: pointer;
								{% if currentUser.getProfileSrc is not null %}
									background-image: url('{{ asset(currentUser.getProfileSrc) }}');
								{% endif %}"
								title = "Promijeni profilnu!"></div>
							</label>
						</form>
					</div>
				</div>	
				<div id="username">
					<div class="center">
						{{ currentUser.getUsername }}
					</div>
				</div>
			</div>
			<a href="{{ path('user_logout') }}">
				<div id="logout">
					<div class="center">
						<i class="fa fa-sign-out"></i>
					</div>
				</div>
			</a>
		</div>
		
	</div>
</header>