{# to-do: add variables #}

<div id="leftMenuBar">

	<div id="groupsMenu">
		<div class="title">Grupe</div>
			
			{#
			Dugme za grupu
			ako nema novih obavijesti, div id "newPosts" se ne treba kreirat
			"groupButton"treba dodati background-image;
			#}

			{% for group in groups %}
			<div class = "groupButton" id = "group_{{ group.getUserGroup.getId }}" 
			
			{% if group.getUserGroup.getProfile is not null %}
				style="background-image: url('{{ asset(group.getUserGroup.getProfileSrc) }}');"
			{% endif %}

			onmouseover="showGroupName('{{ group.getUserGroup.getName }}', {{ group.getUserGroup.getId }})" onmouseleave="hideGroupName()" onclick="selectGroup({{ group.getUserGroup.getId }})">
				
				{% if group.getUserGroup.getNotificationNumber > 0 %}
					<div id="newPosts" name="group_{{ group.getUserGroup.getId }}" class="color_Pomegranate">{{ group.getUserGroup.getNotificationNumber }}</div>
				{% else %}
					<div id="newPosts" name="group_{{ group.getUserGroup.getId }}" class="color_Pomegranate" style="display:none;"></div>
				{% endif %}
			</div>
			{% endfor %}
	</div>



	<div id="chatsMenu">
		{#
		Label s imenom grupe koji se pokazuje kad se hovera na grupu
		#}
		<div id="groupName" style="display:none;"></div>

		<div class="title">Razgovori</div>
			{#
			Dugme za chat
			takoder ako nema novih obavijesti, div "unreadMessages" se ne kreira
			"profileImageDiv"treba dodati background-image;
			"profileImageDivStatus" oznacava off/on status, boje su color_Nephritis i color_Pomegranate
			#}

			{% for inbox in inboxes %}
			<div class = "chatButton" onclick="selectInbox({{ inbox.getUserInbox.getId }})">
				<div class="profileImageDiv" 
					{% if inbox.getUserInbox.getProfile is not null %}
						style="background-image: url('{{ asset(inbox.getUserInbox.getProfile) }}')"
					{% endif %}>
					<div id="profileImageDivStatus" class="color_Nephritis"></div>
				</div>
				<span>{{ inbox.getUserInbox.getName }}</span>
				{% if inbox.getUserInbox.getMessageNumber > 0 %}
					<div id="unreadMessages" name="inbox_{{ inbox.getUserInbox.getId }}" class="color_Pomegranate">{{ inbox.getUserInbox.getMessageNumber }}</div>
				{% else %}
					<div id="unreadMessages" name="inbox_{{ inbox.getUserInbox.getId }}" class="color_Pomegranate" style="display:none;"></div>
				{% endif %}
			</div>
			{% endfor %}
	</div>

</div>