{#
Notifikacija
"center" i "bottom" oboje trebaju voditi na isti link
"right" zatvara obavijest
#}

{% for notification in notifications|sort|reverse %}
<div class="notification" id="notification_{{ notification.getId }}">

	{# Notification autodelete #}
	{# Trigger javascript call by some clever trick #}
	<img src onerror="setTimeout(function(){ hideNotification('notification_{{ notification.getId }}'); }, 15000);" style="display:none;">

	<div id="top">
		<div id="left">{{ notification.getUserGroup.getName }}</div>
		<div id="right">&#xf00d;</div>
	</div>
	<span onclick="selectGroup({{ notification.getUserGroup.getId }})">
		<div id="center">
			<h3>{{ notification.getTitle }}</h3>
			<p>{{ notification.getText }}</p>
		</div>
		<div id="bottom" class="color_Wisteria">Otvori u grupi</div>
	</span>
</div>
{% endfor %}