{#
Post
#}

{% for post in posts %}
<div class="groupPost">
    <div id="top">
    	<div id="left">
    			{% if post.getAuthor.getId != currentUserId %}
    				<div id="profileImageDiv" title="Uđi u inbox!" onclick="enterInbox({{ post.getAuthor.getId }})"></div>
				{% else %}	
					<div id="profileImageDiv"></div>
				{% endif %}
    			{{ post.getAuthor.getUsername }} {{ post.getHeader }}
    			<br>
    			{{ post.getCreated|date('d. M Y.') }}
    	</div>
    	<div id="right">&#xf077; {{ post.getPoints }} &#xf078;</div>
    </div>

    <div id="middle">	
        {{ post.getContent }}					
    </div>

    <div id="bottom">
        
		<div id = "post_{{ post.getId }}">
        	{% include 'user/elements/comment.html.twig' %}
		</div>
    
    	<div id="postComment">
    			<div id="profileImageDiv"></div> Input za kom: <input>
    	</div>
    </div>

</div>
{% endfor %}