{#
Post
#}

{#
Post types:
1 - text
2 - image
3 - file
#}

{% include 'user/elements/newPost.html.twig' %}

{% for post in posts %}
<div class="groupPost">
    <div id="top">
    	<div id="left">
    			{% if post.getAuthor.getId != currentUserId %}
    				<div class="profileImageDiv" title="Uđi u inbox!" onclick="enterInbox({{ post.getAuthor.getId }})"></div>
				{% else %}	
					<div class="profileImageDiv"></div>
				{% endif %}
				<div class="label upper"> {{ post.getAuthor.getUsername }} {{ post.getHeader }} </div>
    			<div class="label postDate" title="{{ post.getCreated|date('d. M Y. H:i') }}"> {{ post.getCreated|date('d. M Y.') }} </div>
    	</div>
    	<div id="right">
			<span id="upvote">&#xf077;</span>
			{{ post.getPoints }} 
			<span id="downvote">&#xf078;</span>
		</div>
    </div>

    <div id="middle"> 
        {{ post.getContent }}		
				{% if post.type == 2 %}
					<br><br> <img src="{{ asset(post.getSrc) }}" style="max-width:450px;" alt="{{ post.getOriginal }}" title="{{ post.getOriginal }}">
				{% elseif post.type == 3 %}
					<br><br> Datoteka: <a href="{{ asset(post.getSrc) }}" download="{{ post.getOriginal }}"><i class="fa fa-paperclip"></i>{{ post.getOriginal }}</a>
				{% endif %}   
    </div>

    <div id="bottom">
        
		{# Boja komentara i inputa ce biti u boji grupe. Znaci u class se nalazi ime boje + post #}

		<div id="postComment">
    			<div class="profileImageDiv small"></div>
				<input id = "postInput_{{ post.getId }}" type="text" name="comment" placeholder="Komentirajte..." class="{{ theme }} post">
				<input type="button" value="&#xf101;" class="{{ theme }}" onclick="sendComment({{ post.getId }})" title="Klikni za slanje komentara!">
    	</div>

		<div id = "post_{{ post.getId }}">
        	{% include 'user/elements/comment.html.twig' %}
		</div>
    
    </div>

</div>
{% endfor %}