{% extends 'user/user.html.twig' %}

{% block body_class %}body_dashboard{% endblock %}

{% block body %}

{# Include header element #}
{% include 'user/elements/header.html.twig' %}

<div class="dashboard">

	{# Include left menu bar element #}
	{% include 'user/elements/menu.html.twig' %}

	<div class="notificationCenter" id="notificationContainer">

		{% include 'user/elements/notification.html.twig' %}

	</div>
			

	<div id="content">

		{% if posts is not null %}
			{% include 'user/elements/post.html.twig' %}
		{% elseif messages is not null %}
			<div id="contentInbox">{% include 'user/elements/message.html.twig' %}</div>
			{% include 'user/elements/newMessage.html.twig' %}
		{% else %}
			{% include 'user/elements/dashboard_home.html.twig' %}
		{% endif %}

	</div>
			
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('build/js/liveUpdater.js') }}"></script>
<script src="{{ asset('build/js/groupSelect.js') }}"></script>
<script src="{{ asset('build/js/inboxSelect.js') }}"></script>
<script src="{{ asset('build/js/fileUpload.js') }}"></script>
<script src="{{ asset('build/js/sendComment.js') }}"></script>
<script src="{{ asset('build/js/groupForm.js') }}"></script>
{% endblock %}