{% extends 'user/user.html.twig' %}

{% block body_class %}body_dashboard{% endblock %}

{% block body %}

{# Include header element #}
{% include 'user/elements/header.html.twig' %}

<div class="dashboard">

	{# Include left menu bar element #}
	{% include 'user/elements/menu.html.twig' %}

	<div class="notificationCenter" id="notificationContainer">

		{% include 'user/elements/notification.html.twig' %}

	</div>

	{% if posts is not null %}
		{% if not mobile_detector.isMobile %}
			<div id="content" style="width:calc(100% - 720px);">
		{% else %}
			<div id="content">
		{% endif %}
		{# Group content #}
		{% include 'user/elements/post.html.twig' %}
	
	{% elseif messages is not null %}
		{% if not mobile_detector.isMobile %}
			<div id="content" style="width:calc(100% - 720px);">
		{% else %}
			<div id="content">
		{% endif %}
		{# Inbox content #}
		<div id="messagesList">{% include 'user/elements/message.html.twig' %}</div>
		{% include 'user/elements/newMessage.html.twig' %}
	
	{% else %}
		<div id="content">
		{# Default dashboard content #}
		{% include 'user/elements/dashboard_home.html.twig' %}
	
	{% endif %}

	</div>

	{% if posts is not null and not mobile_detector.isMobile %}
		{% include 'user/elements/groupInfo.html.twig' %}
	{% endif %}

	{% if messages is not null and not mobile_detector.isMobile %}
		{% include 'user/elements/inboxInfo.html.twig' %}
	{% endif %}
			
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('build/js/liveUpdater.js') }}"></script>
<script src="{{ asset('build/js/groupSelect.js') }}"></script>
<script src="{{ asset('build/js/inboxSelect.js') }}"></script>
<script src="{{ asset('build/js/fileUpload.js') }}"></script>
<script src="{{ asset('build/js/sendComment.js') }}"></script>
<script src="{{ asset('build/js/sendMessage.js') }}"></script>
<script src="{{ asset('build/js/groupForm.js') }}"></script>
{% endblock %}