{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/temp/style.css') }}">
{% endblock %}

{% block body %}
<div class="logRegDiv">
	<div class="contDiv">
		<div class="imgTxtDiv">
			<a href="index.html">
				<img src="{{ asset('build/temp/logoImg.png') }}">
			</a>
			<h1>Prijavi se</h1>
			<p>Dobrodošao natrag! Prijavi se za nastavak.</p>
			<br><br>
			<p>Nemate račun? <a href="{{ path('user_signup') }}">Kreiraj novi račun</a></p>
		</div>
		<div class="logRegForm">
			<form id="login-form" method="POST">
				<input id="usernameLoginInput" name="username" type="text" placeholder="korisničko ime" />
				<input id="passwordLoginInput" name="password" type="password" placeholder="lozinka" />
				<span>{{ login_error }}</span>
				<input name="login" type="submit" value="PRIJAVI SE" />
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('build/temp/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('build/temp/functions.js') }}"></script>
{% endblock %}