{% extends 'user/user.html.twig' %}

{% block body %}

<div class="logRegDiv">
	<div class="contDiv">
		<div class="imgTxtDiv">
			<a href="index.html">
				<img src="{{ asset('build/images/collabsy.png') }}">
			</a>
			<h1>Registriraj se</h1>
			<p>Registriraj se na Collabsy i započni sa zajedničkim učenjem!</p>
			<br><br><br><br><br>
			<p>Već ste registrirani? <a href="{{ path('user_login') }}">Prijavi se</a></p>
		</div>
		<div class="logRegForm">
			{{ form_start(registrationForm) }}
			    {{ form_widget(registrationForm) }}
				<span>{{ register_error }}</span>
			    <input id="registerButton123" name="register" type="submit" value="REGISTRIRAJ SE" />
			{{ form_end(registrationForm) }}
		</div>
	</div>
</div>
{% endblock %}